<h3>{{viewTitle}}</h3>

<form action="/student" method="post" autocomplete="off">
    <div class="form-group">
        <label>historyid</label>
        <input type="text" class="form-control" name="historyid">
    </div>
    <div class="form-group">
        <label>term</label>
        <input type="text" class="form-control" name="term">
    </div>
    <div class="form-group">
        <label>year</label>
        <input type="text" class="form-control" name="year">
    </div>
    <div class="form-group">
        <label>grade</label>
        <input type="text" class="form-control" name="grade">
    </div>
    <div class="form-group">
        <label>studentid</label>
        <input type="text" class="form-control" name="studentid">
    </div>
    <div class="form-group">
        <label>courseid</label>
        <input type="text" class="form-control" name="courseid">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
    </div>
</form>